*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --prymary: #64419A;
  --secundary : #3c2035;
  --ligh : #0f3327;
  --diabled : #cbe6db;
  --colordate:#f2e9e2;
}

body{
  height: 100vh;
  text-transform: capitalize;
}

.roundBorder{
  border-radius: 3px;
  padding: 10px;
  border: 1px solid  #579185;
}

.list{
  margin: 25px auto;
  padding: 25px;
  background-color: var(--prymary);
  width: 100%;
  max-width: 600px;
}
.date{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dateRight{
  display: flex;
  align-items: center;
}

#dateNumber{
  font-size: 60px;
  color: var(--colordate);
}
#dateText{
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--colordate);
  font-size: 1.5rem;
}
#dateMonth,
#dateYear,
#datehour{
  font-weight: bold;
  color: var(--colordate);
}
#datehour{
  font-size: 30px;
  
}

#dateMonth,
#dateYear{
  margin-left: 7px;
  font-size: 20px;
}
.companies{
  position: relative;
  
}

ul,li{
  font-size: 1.2rem;
  list-style-type: none;
  color: var(--diabled);
}

.list2{
  position: absolute;
  left: 36%;
  bottom: 1px;
}
.list3{
  position: absolute;
  left: 72%;
  bottom: 1px;
  
}


.addBtn{
  border: 1px solid #fbf9fb;
  border-radius: 50%;
  color: #f2e9e2;
  font-size: 1rem;
  padding: 2px;
  background-color:#1e8449 ;
  
}
#addBtn:hover{
  cursor: pointer;
  background-color: #087e2f ;
  
}
h3{
  font-size: 1.8rem;
  text-align: center;
  color: var(--colordate);
  font-family: monospace;
  width: 515px;
  box-shadow: 0px 2px  rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}
.listContainer {
  display: flex;
  flex-direction: column;
  gap: 18px;
  border: none;
  padding: 15px 0;
}

.taskItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 515px;
  padding: 10px 15px;
  background-color: #f6f6f8; /* cornflowerblue más elegante */
  border-radius: 8px;
  font-family: monospace;
  font-size: 1.4rem;
}


.flights {
  margin: 0;
  padding: 8px 12px;
  width: 120px;
  text-align: center;
  background-color: #f2e5d3; 
  border-radius: 6px;
  color: #8b4513; /* brown más definido */
  font-weight: 500;
  font-weight: bold;
  
}

.delete {
  width: 20px;
  height: 30px;
  border: none;
  color: #ffffff;
  background-color: #ff3b30;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease;
  margin-left: -45px;
}

.delete:hover {
  cursor: pointer;
  background-color: #e60000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.avianca {
  color: red;
  font-weight: bold;
}
.latam{
  color: blue;
  font-weight: bold;
}